.single-post {
  left: 45%;
}

.ShowPost-container {
  margin-top: 3rem;
  position: relative;
}

.ShowPost-add-comment-container {
  width: 45vw;
  padding: 1rem;
  position: relative;
  top: -2.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 0px 12px -7px var(--primary-color) inset;
  margin-bottom: 2.5rem;
}

.ShowPost-add-comment {
  width: 100%;
  border: none;
  padding: 10px;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  transition: all 0.4s ease-in;
}
.ShowPost-add-comment:hover,
.ShowPost-add-commentfocus {
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid var(--primary-color) !important;
}
