.Home-container {
  width: 100vw;
}

.friend-container {
  display: flex;
  width: 70vw;
  margin: 1rem 0rem;
  padding: 10px;
  overflow-y: scroll;
  justify-content: flex-start;
}

.friend-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.friend-single {
  margin: 0.8rem;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.4s ease-in;
  box-shadow: 0px 0px 4px -2px var(--primary-color) inset;
}

.friend-single:hover {
  opacity: 0.5;
}
.friend-container:hover > .friend-single,
.friends-container:hover > .friend-single {
  opacity: 0.5;
}

.friend-container:hover > .friend-single:hover,
.friends-container:hover > .friend-single:hover {
  opacity: 1;
  box-shadow: 1px 1px 13px -2px var(--primary-color);
}

.friend-username {
  font-variant: small-caps;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.btn-add {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 6px;
  border-radius: 8px;
}

.btn-cancel {
  padding: 2px;
  border-radius: 8px;
}
.friend-footer {
  display: flex;
  justify-content: space-evenly;
}

.post-content-container {
  width: 54vw;
  height: 8vh;
  font-size: 0.8rem;
  padding: 10px;
  outline: none;
  border: none;
}

.post-content-container:focus,
.post-content-container:hover {
  border: 2px solid var(--primary-color);
  outline: none;
}
.post-title:focus,
.post-title:hover {
  border-bottom: 2px solid var(--primary-color);
}
.option-category {
  text-transform: uppercase;
}
.create-post {
  margin-bottom: 2rem;
}
.create-post-label {
  background-color: #f5f6f7;
  padding: 10px;
  transition: all 0.4s ease-in;
}
.create-post-active {
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  font-variant: small-caps;
  font-kerning: 1.2rem;
}
.post-body {
  transition: all 1s ease-in;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-title {
  padding: 5px;
  outline: none;
  border: none;
}
.post-category {
  padding: 10px;
  height: 2.4rem;
  border: none;
}
.post-category:hover,
.post-category:focus {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
.post-create {
  background-color: #f5f6f7;
  color: black;
  padding: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
}

.post-create:focus,
.post-create:hover {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  outline: none;
}

.Posts-container {
  margin-bottom: 2rem;
}
