.Change-password-container {
  padding: 20px;
  font-variant: small-caps;
  color: #ff5050;
}

.SignUp-form-button input:disabled {
  background-color: rgb(173, 173, 173) !important;
  color: var(--primary-color) !important;
}
